@model TiendaLibros.Models.LibroDto
@using Microsoft.AspNetCore;


<h1>Tienda Libros</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            La mejor libreria de Argentina!!
        </div>
    </div>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Novedades</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                        <img src="~/img/100.png" />
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Precio: <strong>$5500</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Novela</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                        <img src="~/img/101.png" />
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                             <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Precio: <strong>$2500</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Ciencia Ficcion</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                        <img src="~/img/102.png" />
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Precio: <strong>$1500</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Autoayuda</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                        <img src="~/img/103.png" />
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Precio: <strong>$3500</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Historia</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                        <img src="~/img/104.png" />
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Precio: <strong>$1500</strong></small>
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                                <small>Astrologia</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          @Html.ActionLink("Siguiente","Index","Libros") 
        </div>
    </div>

</div>





