
@*Acceso directo
div

Accesos directos alternativos
abbr, address, area, article, aside, b, bdi, bdo, blockquote, body, button, cite, canvas, code, content, datalist, del, details, dfn, dialog, dl, em, embed, fieldset, footer, h1, h2, h3, h4, h5, h6, head, header, i, ins, label, main, map, mark, math, menu, meter, nav, noscript, object, output, p, param, pre, progress, q, s, samp, section, shadow, small, span, strong, sub, sup, template, textarea, time, title, u
*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Containers</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        div{
            color: gray;
            background-color: aqua;
            border: 1px solid black:
        }
    </style>
</head>
<body>
   
    <div class="container text-center">
        <div class="row mt-5 p-2">
            <div class="col-6">
                col-6
            </div>
            <div class="col-6" >
                col-6
            </div>
        </div>
        
        <div class="row mt-2 p-2">
            <div class="col-3">
                col-3
            </div>
            <div class="col-6">
                col-6
            </div>
            <div class="col-3">
                col-3
            </div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
</body>
</html>