

<!DOCTazurePE html>
<html>
<head>
    <meta charset=”utf-8”>
    <title>TodoTecno SRL</title>
    <link href="~/todotecno.css" rel="stylesheet" />
    </head>
    <body>

    <div>
    <div>
        <h1 class="titulo">Tienda de electrodomesticos TodoTecno SRL</h1>
        <table class=table>
            <tr>
                <td class="tdImage">  
                    <img class="redondeado" src="~/images/logo_company.png" />
                </td>
            </tr>
            <tr>
            <td>
                <p class="texto">
                    Amet lorem clita eirmod ea sadipscing sadipscing ipsum lorem commodo iusto tempor elitr elit molestie invidunt illum sadipscing sit clita
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet aliquet orci. Vivamus eget nulla viverra, rutrum est ac, scelerisque ex. Suspendisse interdum lectus ac ex dapibus, at venenatis eros vehicula. Cras faucibus bibendum mauris, ut suscipit nibh maximus eu. Proin fermentum iaculis auctor. Mauris porttitor justo libero, eget posuere est pulvinar eu. Aenean non arcu in nisl viverra convallis.
                </p>
            </td>
           </tr>
         </table>
    </div>
    <div>
        <nav>
            <table class=table>
                <tr>
                    <td><a class="nav-btn" href="#idlb">Linea Blanca</a></td>
                    <td><a class="nav-btn" href="#idCam">Cámaras</a></td>
                    <td><a class="nav-btn" href="#idAuTv">Audio y TV</a></td>
                    <td><a class="nav-btn" href="#idCel">Celulares</a></td>
                </tr>
            </table>
        </nav>
    </div>

    <div id="idlb" align="center">
    <h2>Linea Blanca</h2>

         <table class="table">
            <tr class="tdImage">
                <td class="tdImage">
                <ul>
                    <li align="center"> <img src="~/images/LineaBlanca/heladera1.png" width=140px height=180px /></li>  @*Indica que es una columna*@
                    <li>Marca y modelo</li>
                    <li>Precio: <span id="idPrecio">50.000</span> </li>
                    <li>SKU:  <span id="idSku">LK2098</span></li>
                    <li>
                        <nav>
                            <table class="table">
                                <tr>
                                    <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                    <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                </tr>
                            </table>
                        </nav>
                    </li>
                </ul>
                </td><td class="tdImage">
                <ul>
                    <li align="center"> <img src="~/images/LineaBlanca/heladera2.png" width=140px height=180px /></li>
                    <li>Marca y modelo</li>
                    <li>Precio: <span id="idPrecio">50.000</span> </li>
                    <li>SKU:  <span id="idSku">LK2098</span></li>
                    <li>
                        <nav>
                            <table class="table">
                                <tr>
                                    <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                    <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                </tr>
                            </table>
                        </nav>
                    </li>
                </ul>
                    </td>
                    <td class="tdImage">
                <ul>
                    <li align="center"> <img src="~/images/LineaBlanca/heladera4.png" width=140px height=180px /></li>  @*Indica que es una columna*@
                    <li>Marca y modelo</li>
                    <li>Precio: <span id="idPrecio">50.000</span> </li>
                    <li>SKU:  <span id="idSku">LK2098</span></li>
                    <li>
                        <nav>
                            <table class="table">
                                <tr>
                                    <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                    <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                </tr>
                            </table>
                        </nav>
                    </li>
                </ul>
                    </td>
                    <td class="tdImage">
                <ul>
                    <li align="center"> <img src="~/images/LineaBlanca/lavarropa.png" width=140px height=180px /></li>  @*Indica que es una columna*@
                    <li>Marca y modelo</li>
                    <li>Precio: <span id="idPrecio">50.000</span> </li>
                    <li>SKU:  <span id="idSku">LK2098</span></li>
                    <li>
                        <nav>
                            <table class="table">
                                <tr>
                                    <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                    <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                </tr>
                            </table>
                        </nav>
                    </li>
                </ul>
                    </td>
            </tr>
            <tr>
               <td><a class="nav-btn" href="#">Volver</a></td>
            </tr>
        </table>
    </div>

    <div id="idCam" align="center">
    <h2>Cámaras</h2>
        <table class="table">
            <tr class="section">
                @*Este tag indica que es una fila*@
                <td align="center"> <img src="~/images/Camaras/camara1.png" width=180px height=140px /></td>  @*Indica que es una columna*@
                <td align="center"> <img src="~/images/Camaras/camara2.png" width=180px height=140px /></td>
                 <td align="center"> <img src="~/images/Camaras/camara1.png" width=180px height=140px /></td>
                <td align="center"> <img src="~/images/Camaras/camara2.png" width=180px height=140px /></td>
            </tr>
            <tr class="section">
                    @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">50.000</span> </li>
                        <li>SKU:  <span id="idSku">LK2298</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">15.000</span> </li>
                        <li>SKU:  <span id="idSku">LK1098</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">70.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9298</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">22.000</span> </li>
                        <li>SKU:  <span id="idSku">LK8998</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
            </tr>
    </table>
        <nav>
           <table class="table">
                <tr>
                    <td><a class="nav-btn" href="#">Volver</a></td>
                </tr>
            </table>
        </nav>
    </div>
    <div id="idAuTv" align="center">

    <h2>Audio y TV</h2>
    

        <table class="table">
            <tr class="section">
                @*Este tag indica que es una fila*@
                <td align="center"> <img src="~/images/AudioTV/audio1.png" width=180px height="120px" /></td>  @*Indica que es una columna*@
                <td align="center"> <img src="~/images/AudioTV/audio2.png" width=180px height="120px" /></td>
                <td align="center"> <img src="~/images/AudioTV/audio3.png" width=180px height="120px" /></td>
                <td align="center"> <img src="~/images/AudioTV/audio4.png" width=180px height="120px" /></td>
            </tr>
            <tr class="section">
                    @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">60.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9876</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">89.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9009</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">147.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9011</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">120.000</span> </li>
                        <li>SKU:  <span id="idSku">LK4398</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
            </tr>
    </table>
        <nav>
           <table class="table">
                <tr>
                    <td><a class="nav-btn" href="#">Volver</a></td>
                </tr>
            </table>
        </nav>
    </div>
    <div id="idCel" align="center">

       
    <h2>Celulares</h2>

        <table class="table section">
            <tr >
                @*Este tag indica que es una fila*@
                 <td> <img src="~/images/Celulares/celu2.png" width=160px height=200px /></td>  @*Indica que es una columna*@
                 <td> <img src="~/images/Celulares/celu2.png" width=160px height=200px /></td>
                 <td> <img src="~/images/Celulares/celu3.png" width=160px height=200px /></td>
                 <td> <img src="~/images/Celulares/celu4.png" width=160px height=200px /></td>
            </tr>
            <tr>
                    @*Este tag indica que es una fila*@
                <td class="tdImage">
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">50.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9668</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td class="tdImage">
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">150.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9568</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td class="tdImage">
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">75.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9338</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
                <td class="tdImage">
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <span id="idPrecio">65.000</span> </li>
                        <li>SKU:  <span id="idSku">LK9648</span></li>
                        <li>
                            <nav>
                                <table class="table">
                                    <tr>
                                        <td><a class="nav-btn-detalles" href="#pie">Detalles</a></td>
                                        <td><a class="nav-btn-comprar" href="#pie">Comprar</a></td>
                                    </tr>
                                </table>
                            </nav>
                        </li>
                    </ul>
                </td>
            </tr>
    </table>
        <nav>
            <table class="table">
                <tr>    
                    <td><a class="nav-btn" href="#">Volver</a></td>
                </tr>
            </table>
        </nav>
    </div>
    </div>
</body>
</html>

