@model TiendaLibros.Models.LibroDto
@using Microsoft.AspNetCore;

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Comprar @Model.Titulo -  @Model.Autor</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col-4">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    @*<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>*@
                    <img src="~/img/@Model.PortadaLink" />
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="~/img/logo.jpg" alt="Logo" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                            <small>Precio: <strong>$@Model.Precio</strong></small>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                            <small>@Model.Detalles.Genero</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

