


<h1><p>Esta es la vista de Tienda Libros</p></h1>

<h1>En las vista NO DE DEBE</h1>
<h1>IMPLEMENTAR LOGICA DE NEGOCIO</h1>
<h1>ACCEDER DIRECTAMENTE A LA BASE DE DATOS!!!</h1>

<ul>
    <li>@ViewBag.Titulo</li>
    <li>@ViewBag.Mensaje</li>
</ul>

