

<!DOCTYPE html>
<html>
<head>
    <meta charset=”utf-8”>
    <title>Mi página</title>
</head> 
<body>

    
    <div align="center">

    <h1>Tienda de electrodomesticos</h1>
   
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Phasellus finibus aliquam elit, a faucibus turpis maximus non. 
            Donec et ipsum eros. Aliquam pellentesque ut metus eget mattis. 
            Curabitur fringilla, orci quis interdum tincidunt, nulla ex laoreet est, 
            vitae consectetur urna urna a justo. Vestibulum nisi elit, 
            vestibulum sit amet urna et, bibendum blandit lacus. Morbi quis porta ante, i
            d varius nunc. Etiam neque eros, dignissim ac justo a, viverra luctus velit. 
            Sed dignissim fringilla nulla, vitae euismod magna accumsan eu.           
        </p>
    
    </div>
    <br>
    <br>
    <br>

    <div align="center">
        <h2>Linea Blanca</h2>
    
        <table>
            <tr>
                <th><img src="images/descarga1.png"</th>
                <td><img src="images/descarga2.png"</td>
                <td><img src="images/descarga3.png"</td>
                <td><img src="images/descarga4.png"</td>
            </tr>
            <tr>
                <th>Sed dignissim fringilla nulla</th>
                <th>dignissim ac justo</th>
                <th>sit amet urna et</th>
                <th>interdum tincidunt</th>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div align="center">
        <h2>Celulares</h2>
    
        <table>
            <tr>
                <th><img src="images/descarga1.png"</th>
                <td><img src="images/descarga2.png"</td>
                <td><img src="images/descarga3.png"</td>
                <td><img src="images/descarga4.png"</td>
            </tr>
            <tr>
                <th>Sed dignissim fringilla nulla</th>
                <th>dignissim ac justo</th>
                <th>sit amet urna et</th>
                <th>interdum tincidunt</th>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div align="center">
        <h2>TV y Audio</h2>
    
        <table>
            <tr>
                <th><img src="images/descarga1.png"</th>
                <td><img src="images/descarga2.png"</td>
                <td><img src="images/descarga3.png"</td>
                <td><img src="images/descarga4.png"</td>
            </tr>
            <tr>
                <th>Sed dignissim fringilla nulla</th>
                <th>dignissim ac justo</th>
                <th>sit amet urna et</th>
                <th>interdum tincidunt</th>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <div align="center">
        <h2>Camaras</h2>
    
        <table>
            <tr>
                <th><img src="images/descarga1.png"</th>
                <td><img src="images/descarga2.png"</td>
                <td><img src="images/descarga3.png"</td>
                <td><img src="images/descarga4.png"</td>
            </tr>
            <tr>
                <th>Sed dignissim fringilla nulla</th>
                <th>dignissim ac justo</th>
                <th>sit amet urna et</th>
                <th>interdum tincidunt</th>
            </tr>
        </table>
    </div>
  
  
    </body>
</html>

