

<!DOCTazurePE html>
<html>
<head>
    <meta charset=”utf-8”>
    <title>Mi página</title>
    <style>
       /* #idCam{
            text-align: center;
            font-family:Arial;
            font-size: 180px;
        }*/

    </style>
</head>
<body>



    <div align="center">
        <h1>Tienda de electrodomesticos TodoTecno SRL</h1>
        <br />
        <p>
            Amet lorem clita eirmod ea sadipscing sadipscing ipsum lorem commodo iusto tempor elitr elit molestie invidunt illum sadipscing sit clita
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet aliquet orci. Vivamus eget nulla viverra, rutrum est ac, scelerisque ex. Suspendisse interdum lectus ac ex dapibus, at venenatis eros vehicula. Cras faucibus bibendum mauris, ut suscipit nibh maximus eu. Proin fermentum iaculis auctor. Mauris porttitor justo libero, eget posuere est pulvinar eu. Aenean non arcu in nisl viverra convallis.
        </p>
    </div>
    <br />

    <div>
        <strong>Categorias</strong>
        <ul>
            <li><a href="#idlb">Linea Blanca</a></li>
            <li><a href="#idCam">Camaras</a></li>
            <li><a href="#idAuTv">Audio y TV</a></li>
            <li><a href="#idCel">Celulares</a></li>
        </ul>
    </div>

    <div id="idlb" align="center">
    <h2>Linea Blanca</h2>
    <br />

    <table border="0">
        <tr>
            <td align="center"> <img src="~/images/LineaBlanca/heladera1.png" width="140px" height="180px" /></td>  @*Indica que es una columna*@
            <td align="center"> <img src="~/images/LineaBlanca/heladera2.png" width="140px" height="180px" /></td>
            <td align="center"> <img src="~/images/LineaBlanca/heladera3.png" width="140px" height="180px" /></td>
            <td align="center"> <img src="~/images/LineaBlanca/heladera4.png" width="140px" height="180px" /></td>
        </tr>
            <tr> @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>   
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                     </ul>
                </td>
                 <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                 </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
        </tr>
    </table>
   
    <br />
    <br />
    <p>
        Norrinradd sauron octopus shocker bug, alpha-flight invaders bloodstone x-statix lockheed gargoyle. Parker howard, morlocks nightcrawler spider-ham ricochet dormammu hobgoblin! 
    </p>
    <br />
    </div>

    <div id="idCam" align="center">
    <h2>Camaras</h2>
    <br />

    <table border="0">
        <tr>
            @*Este tag indica que es una fila*@
            <td align="center"> <img src="~/images/Camaras/camara1.png" width="180px" height="140px" /></td>  @*Indica que es una columna*@
            <td align="center"> <img src="~/images/Camaras/camara2.png" width="180px" height="140px" /></td>
            <td align="center"> <img src="~/images/Camaras/camara1.png" width="180px" height="140px" /></td>
            <td align="center"> <img src="~/images/Camaras/camara2.png" width="180px" height="140px" /></td>
        </tr>
            <tr>
                    @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
            </tr>
    </table>
     <br />
    <br />

    <p>
        Klaw wolverine sentinels tarantula ironman fisk. Boomerang wrecker mayparker prodigy rogue captainbritain nefaria deatdlok korg. Abomb empatd warlock kraven warmachine puck jessicadrew sif skaar rogue aim doop mrhyde.
    </p>
    </div>
    <div id="idAuTv" align="center">

    <br />

    <h2>Audio y TV</h2>
    <br />

    <table border="0">
        <tr>
            @*Este tag indica que es una fila*@
            <td align="center"> <img src="~/images/AudioTV/descarga1.png" widthd="180px" height="120px" /></td>  @*Indica que es una columna*@
            <td align="center"> <img src="~/images/AudioTV/descarga2.png" widthd="180px" height="120px" /></td>
            <td align="center"> <img src="~/images/AudioTV/descarga3.png" widthd="180px" height="120px" /></td>
            <td align="center"> <img src="~/images/AudioTV/descarga4.png" width="180px" height="120px" /></td>
        </tr>
            <tr>
                    @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                &nbsp;
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                &nbsp;
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                &nbsp;
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
            </tr>
    </table>
    <br />
    <br />

    <p>
        Vision whiplash kree sage. Tusk moonstar rhodes redwing, rhino whiplash batroc? Antman mrnegative, xavier shadowcat. Fantomex moonstone hawkeye countess carnage domino octopus? Medusa contessa azazel hulkling felicia. Banshee 
    </p>
    </div>
    <div id="idCel" align="center">

     <br />
       
    <h2>Celulares</h2>
    <br />

    <table border="0">
        <tr>
            @*Este tag indica que es una fila*@
            <td> <img src="~/images/Celulares/celu1.png" width="140px" height="180px" /></td>  @*Indica que es una columna*@
            <td> <img src="~/images/Celulares/celu2.png" width="140px" height="180px" /></td>
            <td> <img src="~/images/Celulares/celu3.png" width="140px" height="180px" /></td>
            <td> <img src="~/images/Celulares/celu4.png" width="140px" height="180px" /></td>
        </tr>
            <tr>
                    @*Este tag indica que es una fila*@
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Marca y modelo</li>
                        <li>Precio: <strong>150.000</strong> </li>
                        <li>SKU:  <strong>LK9098</strong></li>
                    </ul>
                </td>
            </tr>
    </table>
    <br />
    <br />

    <p>
        Ronan blackwidow osborn caretaker phyla-vell tusk. Ezekiel jeangrey warbound dazzler blackheart barnes galactus xorn centurions rogue microchip jeangrey jackal. Havok bloodstone faustus chamber cannonball miek barton annihilus morlocks.
    </p>
    </div>
</body>
</html>

