

<!DOCTYPE html>
<html>
<head>
    <meta charset=”utf-8”>
    <title>Mi página</title>
</head>
<body>
    <h1>Mi primer HTML en Visual Studio 2022!!</h1>
     
    <img src="~/images/descarga1.png" />

    <p>
        Norrinradd sauron octopus shocker bug, alpha-flight invaders bloodstone x-statix lockheed gargoyle. Parker howard, morlocks nightcrawler spider-ham ricochet dormammu hobgoblin! 
    </p>

   
    <h2>Subtitulo</h2>
    <img src="~/images/descarga2.png" />
    
    <p>
        Klaw wolverine sentinels tarantula ironman fisk. Boomerang wrecker mayparker prodigy rogue captainbritain nefaria deathlok korg. Abomb empath warlock kraven warmachine puck jessicadrew sif skaar rogue aim doop mrhyde.
    </p>
    <h3>Otro Subtitulo</h3>
    
    <img src="~/images/descarga3.png" />
    
    <p>
        Vision whiplash kree sage. Tusk moonstar rhodes redwing, rhino whiplash batroc? Antman mrnegative, xavier shadowcat. Fantomex moonstone hawkeye countess carnage domino octopus? Medusa contessa azazel hulkling felicia. Banshee 
    </p>
    <h4>Otro Subtitulo</h4>
    <img src="~/images/descarga4.png" />
    <p>
        Ronan blackwidow osborn caretaker phyla-vell tusk. Ezekiel jeangrey warbound dazzler blackheart barnes galactus xorn centurions rogue microchip jeangrey jackal. Havok bloodstone faustus chamber cannonball miek barton annihilus morlocks.
    </p>
</body>
</html>

